# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/gatsby-desktop-app/node_modules
/apps/gatsby-desktop-app/public
/apps/gatsby-desktop-app/.cache

/apps/portfolio-site/node_modules
/apps/portfolio-site/public
/apps/portfolio-site/.cache
